.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#total-value-graph {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
  }
  
  /* Style for the table header */
  th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #ddd;
    text-align: right;
    padding: 10px;
  }
  
  /* Alternating row colors for better readability */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style for table rows */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .td-symbol {
    text-align: left
  }
  .td-number {
    text-align: right;
  }
  
  /* Hover effect on table rows */
  tr:hover {
    background-color: #e0e0e0;
  }