{% extends 'base.html' %}

{% block header %}
{{ import_style('index.css') }}
{% endblock %}

{% block content %}
<div class="dashboard-content">
    <!-- Total Value Graph -->
    <div style="width: 80%; max-height: 500px; margin: auto;">
        <canvas id="total-value-graph">       
        </canvas>
        <script>
            const ctx = document.getElementById('total-value-graph');
            
            placeholder_chart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [],
                datasets: [{
                  label: 'Loading Equity Graph...',
                  data: [],
                  borderWidth: 1,
                  radius: 0
                }]
              }
            });
            
            var requestOptions = {
              method: 'GET',
              redirect: 'follow'
            };

            fetch("/api/equityGraph", requestOptions)
              .then(response => response.json())
              .then(result => {
                placeholder_chart.destroy()
                new Chart(ctx, {
                  type: 'line',
                  data: {
                    labels: result['dates'],
                    datasets: [{
                      label: 'Equity',
                      data: result['values'],
                      borderWidth: 1,
                      radius: 0
                    }]
                  }
                });
              })
              .catch(error => console.log('error', error));

            
          </script>
    </div>
    <table id="holdings-table" style="width: 80%; margin: auto;">
        <tr>
            <th class="td-symbol">Symbol</th>
            <th class="td-number">Current Price</th>
            <th class="td-number">Buy Price</th>
            <th class="td-number">Quantity</th>
            <th class="td-number">Equity</th>
            <th class="td-number">% of Holdings</th>
            <th class="td-number">% Change</th>
            <th class="td-number">Net Change</th>
        </tr>
    </table>
    <script>
        var requestOptions = {
          method: 'GET',
          redirect: 'follow'
        };

        fetch("/api/getHoldings", requestOptions)
          .then(response => response.json())
          .then(result => {
            table = document.getElementById("holdings-table")           

            result.forEach(element => {
                tr = "<tr>"
                
                tr += `<td class="td-symbol"><a href="/stock?symbol=${element['symbol']}">${element['symbol']}</a></td>`
                tr += `<td class="td-number">$${element['price']}</td>`
                tr += `<td class="td-number">$${element['average_buy_price']}</td>`
                tr += `<td class="td-number">${element['quantity']}</td>`
                tr += `<td class="td-number">$${element['equity']}</td>`
                tr += `<td class="td-number">${element['percentage']}%</td>`
                tr += `<td class="td-number">${element['percent_change']}%</td>`
                tr += `<td class="td-number">$${element['equity_change']}</td>`

                tr += "</tr>"
                table.innerHTML += tr
            });
          })
          .catch(error => console.log('error', error))
        
        

    </script>
</div>
{% endblock %}
