{% extends 'base.html' %}

{% block header %}
{{ import_style('stock.css') }}
{% endblock %}

{% block content %}
<div class="stock-dashboard">
    <div style="width: 80%; max-height: 500px; margin: auto;">
        <canvas id="stock-value-graph" class="centered-graph">       
        </canvas>
        <script>
            var ctx = document.getElementById('stock-value-graph');
            
            values = {{ values | safe }}
            dates = {{ labels | safe }}
    
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: dates,
                datasets: [{
                  label: 'Stock Value',
                  data: values,
                  borderWidth: 1,
                  pointRadius: {{ radii | safe }},
                  pointBackgroundColor: {{ bgs | safe }},
                  pointBorderWidth: 0
                },
                {
                    label: 'Upper Bound',
                    data: {{ upper_band | safe }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    pointRadius: 0
                },
                {
                    label: 'Lower Bound',
                    data: {{ lower_band | safe }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    pointRadius: 0
                },
                {
                    label: 'Lower-200 Bound',
                    data: {{ l200 | safe }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                    pointRadius: 0
                }
                ],
                options: {
                    plugins: {
                        title: {
                            title: {
                                display: true,
                                text: 'Stock Price Graph'
                            }
                        }
                    }
                }
              }
            });
          </script>
    </div>
    <!-- <div style="width: 80%; max-height: 500px; margin: auto;">
        <canvas id="entry-macd-graph" class="centered-graph">       
        </canvas>
        <script>
            var ctx = document.getElementById('entry-macd-graph');
            
            entry_macd = {{ entry_macd | safe }}
            entry_signal = {{ entry_signal | safe }}
            entry_hist = {{ entry_hist | safe }}
            dates = {{ labels | safe }}
    
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: dates,
                datasets: [
                    {
                        label: 'MACD',
                        data: entry_macd,
                        borderWidth: 1,
                        pointRadius: {{ radii | safe }},
                        pointBackgroundColor: {{ bgs | safe }},
                        pointBorderWidth: 0,
                        type: 'line'
                    },
                    {
                        label: 'Signal',
                        data: entry_signal,
                        borderWidth: 1,
                        type: 'line',
                        radius: 0
                    },
                    {
                        label: 'Histogram',
                        data: entry_hist,
                        borderWidth: 1,
                    }
                ],
                options: {
                    plugins: {
                        title: {
                            title: {
                                display: true,
                                text: 'Entry MACD Graph'
                            }
                        }
                    }
                }
              }
            });
          </script>
    </div>
    <div style="width: 80%; max-height: 500px; margin: auto;">
        <canvas id="exit-macd-graph" class="centered-graph">       
        </canvas>
        <script>
            var ctx = document.getElementById('exit-macd-graph');
            
            exit_macd = {{ exit_macd | safe }}
            exit_signal = {{ exit_signal | safe }}
            exit_hist = {{ exit_hist | safe }}
            dates = {{ labels | safe }}
    
            new Chart(ctx, {
              type: 'bar',
              data: {
                labels: dates,
                datasets: [
                    {
                        label: 'MACD',
                        data: exit_macd,
                        borderWidth: 1,
                        pointRadius: {{ radii | safe }},
                        pointBackgroundColor: {{ bgs | safe }},
                        pointBorderWidth: 0,
                        type: 'line'
                    },
                    {
                        label: 'Signal',
                        data: exit_signal,
                        borderWidth: 1,
                        type: 'line',
                        radius: 0
                    },
                    {
                        label: 'Histogram',
                        data: exit_hist,
                        borderWidth: 1,
                    }
                ],
                options: {
                    plugins: {
                        title: {
                            title: {
                                display: true,
                                text: 'Exit MACD Graph'
                            }
                        }
                    }
                }
              }
            });
          </script>
    </div> -->
    <table id="holdings-table" style="width: 80%; margin: auto;">
        <tr>
            <th class="td-symbol">Symbol</th>
            <th class="td-number">Current Price</th>
            <th class="td-number">Buy Price</th>
            <th class="td-number">Quantity</th>
            <th class="td-number">Equity</th>
            <th class="td-number">% of Holdings</th>
            <th class="td-number">% Change</th>
            <th class="td-number">Net Change</th>
        </tr>
    </table>    
    <div class="action-container">
        <form class="limit-buy-action">
            <h3>Buy w/ Limit</h3>
            <label for="price">Max. Price</label>
            <input type="number" for="price" step="0.01" class="price-input"><br><br>
            <label for="quantity">Quantity</label>
            <input for="quantity" type="number" class="quantity-input"><br><br>
            <label>WARNING: NO CONFIRMATION MESSAGE</label><hr>
            <button class="submit-button buy-submit" type="submit">Buy</button>
        </form>
        <form class="limit-sell-action">
            <h3>Sell w/ Limit</h3>
            <label for="price">Min. Price</label>
            <input type="number" for="price" step="0.01" class="price-input"><br><br>
            <label for="quantity">Quantity</label>
            <input for="quantity" type="number" class="quantity-input"><br><br>
            <label>WARNING: NO CONFIRMATION MESSAGE</label><hr>
            <button class="submit-button sell-submit" type="submit">Sell</button>
        </form>
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            //var current_holding = null
    
            var requestOptions = {
              method: 'GET',
              redirect: 'follow'
            };
    
            fetch("/api/getHoldings", requestOptions)
              .then(response => response.json())
              .then(result => {
                table = document.getElementById("holdings-table")           
    
                result.forEach(element => {
                    if (element['symbol'] == urlParams.get('symbol')) {
                        //current_holding = element
                        tr = "<tr>"
                        
                        tr += `<td class="td-symbol"><a href="/stock?symbol=${element['symbol']}">${element['symbol']}</a></td>`
                        tr += `<td class="td-number">$${element['price']}</td>`
                        tr += `<td class="td-number">$${element['average_buy_price']}</td>`
                        tr += `<td class="td-number">${element['quantity']}</td>`
                        tr += `<td class="td-number">$${element['equity']}</td>`
                        tr += `<td class="td-number">${element['percentage']}%</td>`
                        tr += `<td class="td-number">${element['percent_change']}%</td>`
                        tr += `<td class="td-number">$${element['equity_change']}</td>`
    
                        tr += "</tr>"
                        table.innerHTML += tr

                        Array.from(document.getElementsByClassName('price-input')).forEach(input_element => {
                            input_element.value = element['price']
                        })
                        Array.from(document.getElementsByClassName('quantity-input')).forEach(input_element => {
                            input_element.value = element['quantity']
                        })
                    }
                    
                });
              })
              .catch(error => console.log('error', error))
            
            


        </script>
    </div>

</div>
{% endblock %}